<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bachata Carioca</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- ICONS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="shortcut icon" href="../img/logo.png" >
</head>
<body>
    <header class="cab">
        <h1 class="logo">
            <a href="index.html" title="Bachata Carioca"  >Bachata Carioca</a>
            
        </h1>
        <div class="search">
            <form method="POST">
            <input type="text" placeholder="Faça uma busca">
            <a href="search.html"><img src="../img/search.png"></a>
            
        </form>
        </div>
        
    </header>
    <nav class="menu">
        <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="sobre.html">SOBRE</a></li>
            <li><a href="fotos.html">FOTOS</a></li>
            <li><a href="eventos.html">EVENTOS</a></li>
            <li><a href="contatos.html">CONTATOS</a></li>
        </ul>
        <div class="redes">
            <a href="mailto:bachatacarioca@gmail.com?subject=Hello%20again"
            Send Mail target="__blank"><img id="gmail" src="../img/logos/gmailb.png"></a>
            <a href="https://chat.whatsapp.com/D0t7bAvHkbF0Onk93CY9Ex" target="__blank"><img id="zap" src="../img/logos/whatsappb.png"></a>
            <a href="https://www.instagram.com/bachatacarioca/" target="__blank"><img id="insta" src="../img/logos/instagramb.png"></a>
            <a href="https://web.facebook.com/bachatacarioca" target="__blank"><img id="face" src="../img/logos/facebook-logo-png-branco.png" ></a>

        </div>
    </nav>
    <main class="principal">
        <article class="sobre">
            <h2>Sobre nós</h2>
            <img src="../img/logo.png" alt="Bachata Carioca">
            <br><br>
            <div id="texto">
                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Um grupo de amigos se reune para montar um grupo de whatsapp a fim de organizarem encontros periódicos para dançar. Através das idéias de organizador do Bachata Libre em São Paulo, nasce o Bachata Libre Rio.
            Um grupo de amigos se reune para montar um grupo de whatsapp a fim de organizarem encontros periódicos para dançar. Através das idéias de organizador do Bachata Libre em São Paulo, nasce o Bachata Libre Rio.
            Um grupo de amigos se reune para montar um grupo de whatsapp a fim de organizarem encontros periódicos para dançar. Através das idéias de organizador do Bachata Libre em São Paulo, nasce o Bachata Libre Rio.
            Um grupo de amigos se reune para montar um grupo de whatsapp a fim de organizarem encontros periódicos para dançar. Através das idéias de organizador do Bachata Libre em São Paulo, nasce o Bachata Libre Rio.
            Um grupo de amigos se reune para montar um grupo de whatsapp a fim de organizarem encontros periódicos para dançar. Através das idéias de organizador do Bachata Libre em São Paulo, nasce o Bachata Libre Rio.
            Um grupo de amigos se reune para montar um grupo de whatsapp a fim de organizarem encontros periódicos para dançar. Através das idéias de organizador do Bachata Libre em São Paulo, nasce o Bachata Libre Rio.
            Um grupo de amigos se reune para montar um grupo de whatsapp a fim de organizarem encontros periódicos para dançar. Através das idéias de organizador do Bachata Libre em São Paulo, nasce o Bachata Libre Rio.
            Um grupo de amigos se reune para montar um grupo de whatsapp a fim de organizarem encontros periódicos para dançar. Através das idéias de organizador do Bachata Libre em São Paulo, nasce o Bachata Libre Rio.
            Um grupo de amigos se reune para montar um grupo de whatsapp a fim de organizarem encontros periódicos para dançar. Através das idéias de organizador do Bachata Libre em São Paulo, nasce o Bachata Libre Rio.
            Um grupo de amigos se reune para montar um grupo de whatsapp a fim de organizarem encontros periódicos para dançar. Através das idéias de organizador do Bachata Libre em São Paulo, nasce o Bachata Libre Rio.
            Um grupo de amigos se reune para montar um grupo de whatsapp a fim de organizarem encontros periódicos para dançar. Através das idéias de organizador do Bachata Libre em São Paulo, nasce o Bachata Libre Rio.
            Um grupo de amigos se reune para montar um grupo de whatsapp a fim de organizarem encontros periódicos para dançar. Através das idéias de organizador do Bachata Libre em São Paulo, nasce o Bachata Libre Rio.
            Um grupo de amigos se reune para montar um grupo de whatsapp a fim de organizarem encontros periódicos para dançar. Através das idéias de organizador do Bachata Libre em São Paulo, nasce o Bachata Libre Rio.
            Um grupo de amigos se reune para montar um grupo de whatsapp a fim de organizarem encontros periódicos para dançar. Através das idéias de organizador do Bachata Libre em São Paulo, nasce o Bachata Libre Rio.
            Um grupo de amigos se reune para montar um grupo de whatsapp a fim de organizarem encontros periódicos para dançar. Através das idéias de organizador do Bachata Libre em São Paulo, nasce o Bachata Libre Rio.<br>
            </p>
            </div>

        </article>

        <aside class="onde-estamos">
            <h2>Local do evento</h2>
            <p>Praça Mauá, s/n - Centro, Rio de Janeiro - RJ, 20081-240</p>
            <iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1837.7386752035095!2d-43.18216151658056!3d-22.895757698127163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x997f509fd0e175%3A0x54707943dedc8350!2sSa%C3%BAde%2C%20Rio%20de%20Janeiro%20-%20RJ!5e0!3m2!1spt-BR!2sbr!4v1605049466762!5m2!1spt-BR!2sbr" ></iframe>

            <h2>Contatos:</h2>
            <ul >
                <li id="email"> 
                <i class="fa fa-envelope fa-lg"></i>
                </i> <a href="mailto:bachatacarioca@gmail.com?subject=Hello%20again"
                Send Mail target="__blank">bachatacarioca2019@gmail.com</a>
                    
                </li>
                <li><i class="fa fa-whatsapp fa-lg"></i>
                </i> (21) 99796-8056
                </li>
            </ul>
        </aside>
    </main>
    <section class="newsletter">
        <h3>Eventos</h3>
        <p>Entre em contato para mais informações</p>
        <form method="POST">
            <input type="text" placeholder="Seu nome">
            <input type="email"placeholder="Seu e-mail">
            <button>Enviar</button>
        </form>

    </section>
    <footer class="rodape">
        <img src="../img/logo.png" width="30">
        <p>© 2020 Bachata Carioca - Todos os direitos reservados</p>

    </footer>
</body>
</html>